# openziti-helm-charts/charts/ziti-controller/templates/alt-certificate.yaml
{{- if gt (len $.Values.webBindingPki.altServerCerts) 0 -}}
{{- $certs := ((include "ziti-controller.getCertManagerAltServerCerts" $.Values.webBindingPki.altServerCerts) | fromJson).certManagerCerts -}}
  {{- if gt (len $certs) 0 }}
    {{- range $index, $cert := $certs }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ printf "%s-alt-cert-%d" (include "ziti-controller.fullname" $) $index }}
  namespace: {{ $.Release.Namespace }}
spec:
  {{- if $.Values.cert.subjectMeta }}
  subject:
    organizations:
      - "OpenZiti Community"
  {{- end }}
  {{- if $cert.secretName }}
  secretName: {{ $cert.secretName | quote }}
  {{- else }}
    {{- fail (printf "No secretName found for cert %d" $index) -}}
  {{- end }}
  issuerRef:
    {{- toYaml $cert.issuerRef | nindent 4 }}
  {{- if gt (len $cert.altDnsNames) 0 }}
  dnsNames:
    {{- range $cert.altDnsNames }}
    - {{ include "ziti-controller.tplOrLiteral" (dict "value" . "context" $) }}
      {{- end }}
    {{- else }}
    []
    {{- end }}
  usages:
    - digital signature
    - key encipherment
    - server auth
    {{- end }}
  {{- end }}
{{- end }}
