---
apiVersion: trust.cert-manager.io/v1alpha1
kind: Bundle
metadata:
  name: {{ include "ziti-controller.fullname" . }}-ctrl-plane-cas
spec:
  sources:
    # this secret holds the ctrl plane server cert whose issuer is the ctrl
    # plane intermediate CA
    - secret:
        name: {{ include "ziti-controller.fullname" . }}-ctrl-plane-identity-secret
        key: ca.crt
    # this secret holds the ctrl plane intermediate issuer cert whose issuer is
    # the ctrl plane root CA, or alternative issuer, if configured
    - secret:
        name: {{ include "ziti-controller.fullname" . }}-ctrl-plane-intermediate-secret
        key: ca.crt
    {{- if (eq .Values.edgeSignerPki.enabled true) }}
    # this secret holds the default admin's client cert whose issuer is the edge
    # signer intermediate CA
    - secret:
        name: {{ include "ziti-controller.fullname" . }}-admin-client-secret
        key: ca.crt
    # this secret holds the edge signer intermediate CA's cert whose issuer is
    # the edge signer root CA
    - secret:
        name: {{ include "ziti-controller.fullname" . }}-edge-signer-secret
        key: ca.crt
    {{- end }}
    {{- if (eq .Values.webBindingPki.enabled true) }}
    # this secret holds the web identity's server cert whose issuer is the web
    # intermediate CA
    - secret:
        name: {{ include "ziti-controller.fullname" . }}-web-identity-secret
        key: ca.crt
    # this secret holds the web intermediate CA's certificate whose issuer is
    # the web root CA
    - secret:
        name: {{ include "ziti-controller.fullname" . }}-web-intermediate-secret
        key: ca.crt
    {{- end }}
  target:
    configMap:
      key: {{ .Values.ctrlPlaneCasFile }}
    namespaceSelector:
      matchLabels:
        kubernetes.io/metadata.name: {{ .Release.Namespace }}
