#######
# CA that is used by the controller to issue edge identities (x509 certificates).
# This CA's cert and key must be configured as .edge.enrollment.signingCert. The
# controller will issue client and server certificates during router enrollment,
# and client certificates during identity enrollment. The edge signer's
# certificate must be appended to the trust bundle that is configured for the
# router control plane's identity in .identity.ca
######
{{- if eq (len .Values.edgeSignerPki.alternativeIssuer) 0 }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "ziti-controller.fullname" . }}-edge-root-cert
  labels:
    {{- include "ziti-controller.labels" . | nindent 4 }}
spec:
  commonName: {{ include "ziti-controller.fullname" . }}-edge-root
  secretName: {{ include "ziti-controller.fullname" . }}-edge-root-secret
  isCA: true
  duration: {{ .Values.ca.duration }}
  renewBefore: {{ .Values.ca.renewBefore }}
  usages:
    - digital signature
    - cert sign
    - crl sign
  privateKey:
    algorithm: ECDSA
    size: 256
    rotationPolicy: Never
  issuerRef:
    kind: Issuer
    name: {{ include "ziti-controller.fullname" . }}-selfsigned-ca-issuer

---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ include "ziti-controller.fullname" . }}-edge-root-issuer
  labels:
    {{- include "ziti-controller.labels" . | nindent 4 }}
spec:
  ca:
    secretName: {{ include "ziti-controller.fullname" . }}-edge-root-secret
{{- end }}

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "ziti-controller.fullname" . }}-edge-signer-cert
  labels:
    {{- include "ziti-controller.labels" . | nindent 4 }}
spec:
  commonName: {{ include "ziti-controller.fullname" . }}-edge-signer
  secretName: {{ include "ziti-controller.fullname" . }}-edge-signer-secret
  isCA: true
  duration: {{ .Values.ca.duration }}
  renewBefore: {{ .Values.ca.renewBefore }}
  usages:
    - digital signature
    - cert sign
    - crl sign
  privateKey:
    algorithm: ECDSA
    size: 256
    rotationPolicy: Always
  issuerRef:
    {{- $alt := .Values.edgeSignerPki.alternativeIssuer -}}
    {{- if and $alt (ne (len $alt) 0) }}
      {{- if typeIs "string" $alt }}
      name: {{ $alt | quote }}
      kind: Issuer
      group: cert-manager.io
      {{- else }}
        {{- toYaml $alt | nindent 4 }}
      {{- end }}
    {{- else }}
    kind: Issuer
    name: {{ include "ziti-controller.fullname" . }}-edge-root-issuer
    {{- end }}

---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ include "ziti-controller.fullname" . }}-edge-signer-issuer
  labels:
    {{- include "ziti-controller.labels" . | nindent 4 }}
spec:
  ca:
    secretName: {{ include "ziti-controller.fullname" . }}-edge-signer-secret

{{- if .Values.edgeSignerPki.admin_client_cert.enabled }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "ziti-controller.fullname" . }}-admin-client-cert
  labels:
    {{- include "ziti-controller.labels" . | nindent 4 }}
spec:
  commonName: {{ include "ziti-controller.fullname" . }}-admin
  secretName: {{ include "ziti-controller.fullname" . }}-admin-client-secret
  isCA: false
  duration: {{ .Values.edgeSignerPki.admin_client_cert.duration }}
  renewBefore: {{ .Values.edgeSignerPki.admin_client_cert.renewBefore }}
  privateKey:
    algorithm: ECDSA
    size: 256
    rotationPolicy: Always
  usages:
    - client auth
    - digital signature
    - content commitment
    - key encipherment
  issuerRef:
    kind: Issuer
    name: {{ include "ziti-controller.fullname" . }}-edge-signer-issuer
{{- end }}
