#######
# CA to issue the controller's router control plane identity. This CA issues the
# server certificate that is presented by the controller to routers when they
# connect to the controller's "ctrl" endpoint, i.e. the router control plane. The
# same server certificate is re-used as a default identity if an alternative
# identity is not configured for a particular server TLS binding, e.g., web
# binding for the client API.
######
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "ziti-controller.fullname" . }}-default-root-cert
  labels:
    {{- include "ziti-controller.labels" . | nindent 4 }}
spec:
  commonName: ziti-controller-default-root
  secretName: {{ include "ziti-controller.fullname" . }}-default-root-secret
  isCA: true
  duration: {{ .Values.ca.duration }}
  renewBefore: {{ .Values.ca.renewBefore }}
  usages:
    - digital signature
    - cert sign
    - crl sign
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    kind: Issuer
    name: {{ include "ziti-controller.fullname" . }}-selfsigned-ca-issuer

---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ include "ziti-controller.fullname" . }}-default-root-issuer
  labels:
    {{- include "ziti-controller.labels" . | nindent 4 }}
spec:
  ca:
    secretName: {{ include "ziti-controller.fullname" . }}-default-root-secret

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "ziti-controller.fullname" . }}-ctrl-plane-intermediate-cert
  labels:
    {{- include "ziti-controller.labels" . | nindent 4 }}
spec:
  commonName: ziti-controller-ctrl-plane-intermediate
  secretName: {{ include "ziti-controller.fullname" . }}-ctrl-plane-intermediate-secret
  isCA: true
  duration: {{ .Values.ca.duration }}
  renewBefore: {{ .Values.ca.renewBefore }}
  usages:
    - digital signature
    - cert sign
    - crl sign
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    {{- if .Values.ctrlPlane.issuer }}
      name: {{ .Values.ctrlPlane.issuer.name }}
      kind: {{ .Values.ctrlPlane.issuer.kind }}
    {{- else }}
    kind: Issuer
    name: {{ include "ziti-controller.fullname" . }}-default-root-issuer
    {{- end }}

---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ include "ziti-controller.fullname" . }}-ctrl-plane-intermediate-issuer
  labels:
    {{- include "ziti-controller.labels" . | nindent 4 }}
spec:
  ca:
    secretName: {{ include "ziti-controller.fullname" . }}-ctrl-plane-intermediate-secret

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "ziti-controller.fullname" . }}-ctrl-plane-identity
  labels:
    {{- include "ziti-controller.labels" . | nindent 4 }}
spec:
  commonName: ziti-controller-ctrl-plane-identity
  secretName: {{ include "ziti-controller.fullname" . }}-ctrl-plane-identity-secret
  isCA: false
  duration: {{ .Values.cert.duration }}
  renewBefore: {{ .Values.cert.renewBefore }}
  privateKey:
# It seems OSX has problems validating ECDSA tokens.. :-/
#    algorithm: ECDSA
#    size: 256
    algorithm: RSA
    size: 4096
  usages:
    - client auth # remove when we fix #ClientCertKeyReuseIssue
    - server auth
    - digital signature
    - content commitment
    - key encipherment
  # At least one of a DNS Name, URI, or IP address is required.
  dnsNames:
    - localhost
    - ziti-controller
    - {{ include "ziti-controller.fullname" . }}
    - {{ include "ziti-controller.fullname" . }}.{{ .Release.Namespace }}
    - {{ include "ziti-controller.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local
    {{- if .Values.advertisedHost }}
    - {{ .Values.advertisedHost }}
    {{- end }}
  # uris:
  #   - spiffe://cluster.local/ns/sandbox/sa/example
  ipAddresses:
    - 127.0.0.1
  issuerRef:
    kind: Issuer
    name: {{ include "ziti-controller.fullname" . }}-ctrl-plane-intermediate-issuer

# #ClientCertKeyReuseIssue: Currently we don't use separate client/server certs as they require to be issued
# via the same private key - I currenlty have no Idea how to solve this with CertManager
# ---
# # the controller's client certificate
# apiVersion: cert-manager.io/v1
# kind: Certificate
# metadata:
#   name: ziti-controller-client
# spec:
#   isCA: false
#   commonName: ziti-controller-client
#   secretName: ziti-controller-client-cert-secret
#   privateKey:
#     algorithm: ECDSA
#     size: 256
#   usages:
#     - client auth
#   issuerRef:
#     kind: Issuer
#     name: ziti-controller-intermediate-ca-issuer
