# generate an empty Issuer for creating root CAs unless all the controller's other PKIs are configured with an alternative issuer
{{- if or
      (eq (len .Values.ctrlPlane.alternativeIssuer) 0)
      (and .Values.webBindingPki.enabled (eq (len .Values.webBindingPki.alternativeIssuer) 0))
      (and .Values.edgeSignerPki.enabled (eq (len .Values.edgeSignerPki.alternativeIssuer) 0))
-}}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ include "ziti-controller.fullname" . }}-selfsigned-ca-issuer
  labels:
    {{- include "ziti-controller.labels" . | nindent 4 }}
spec:
  selfSigned: {}
{{- end }}
