
name: mattermost-ziti-webhook
on:
  create:
  delete:
  issues:
  issue_comment:
  pull_request_review:
  pull_request_review_comment:
  pull_request:
  push:
  fork:
  release:

jobs:
  mattermost-ziti-webhook:
    runs-on: macos-latest
    timeout-minutes: 2
    name: POST Webhook
    steps:
    - uses: openziti/ziti-webhook-action@v1
      with:
        ziti-id: ${{ secrets.ZITI_MATTERMOST_IDENTITY }}
        webhook-url: ${{ secrets.ZITI_MATTERMOST_WEBHOOK_URL }}
        webhook-secret: ${{ secrets.ZITI_MATTERMOST_WEBHOOK_SECRET }}
